.home-container{{ ng_controller: 'editRecipeCtrl' }}
  .offset
  .delete-btn.btn{  }
    %a{ href:"#",ng_click: "delete()" } delete
  %h2
    Recipe informations
  %input.form-control{  placeholder: "title", ng_model: "recipe.title"}
  %br
  %textarea.form-control{ placeholder: "description", ng_model: "recipe.description"}
  %button.btn{ ng_click: "update()"}
    update
  %br  
  %br
  %h2
    Pictures
  %input.form-control{ type:"file",id:"file",multiple:true, placeholder: "url", ng_model: "pictureUrl"}
  %button.btn{ ng_click: "addPicture()" }
    add
  %section.image-holder
    %div{ ng_repeat:"picture in pictures"}
      %img{ src:"{{ picture }}"}
  %section.image-holder
    %div{ ng_repeat:"picture in recipe.pictures"}
      %img{ ng_click:"deletePicture(picture.id)",src:"{{ picture.url }}"}
  
  %br
  %h2
    Ingredients
  %section.ingredient-holder-form
    %div{ ng_repeat:"ing in recipe.ingredients"}
      %div.ingredient{ ng_click:"deleteIngredient(ing.id)"}
        {{ ing.title }}

  %ui_select{ "ng-model": "ingredient.selected", theme:"bootstrap", ng_disabled:"disabled", reset_search_input:"false",multiple:true,tagging:"tagTransform"}
    %ui_select_match{ placeholder:"Enter ingredient name ..."} {{$item.title}}
    %ui_select_choices{ repeat: "ingredient in ingredients" }
      %div{ ng_bind_html: "ingredient.title"}
  

  %button.btn{ ng_click: "addIngredient()"} Add

