%div{ ng_controller: 'listRecipeCtrl' }
  %article.recipe{ ng_repeat:"recipe in recipes"}
    %header.recipe-title
      {{ recipe.title }}
    %section.recipe-description
      %p
        {{ recipe.description }}
      %section.image-holder
        %div{ ng_repeat:"img in recipe.pictures"}
          %img{ src:"{{img.url}}" }