%div
  %article.recipe{ ng_repeat:"recipe in recipes"}
    
    .edit-btn{  }
      %a{ href: "#/recipe/{{recipe.id}}/edit" } edit
    
    %header.recipe-title
      %a{href:"#/recipe/{{ recipe.id }}"}
        {{ recipe.title }}
    %h3.recipe-user
      %a{href:"#/user/{{ recipe.userid }}"}
        {{ recipe.email }}
    %section.recipe-description
      %p
        {{ recipe.description }}
      %section.image-holder
        %div{ ng_repeat:"img in recipe.pictures"}
          %img{ src:"{{img.url}}" }