%div
  .offset
  .offset
  %input.form-control.search{placeholder:"search by title..",ng_model:"searchRecipe.title"}
  .offset
  %article.recipe{ ng_repeat:"recipe in recipes|filter:searchRecipe"}
    
    .edit-btn{  }
      %a{ href: "#/recipe/{{recipe.id}}/edit" } edit
    %h3.recipe-user
      %a{href:"#/user/{{ recipe.userid }}"}
        {{ recipe.email }}
    %header.recipe-title
      %a{href:"#/recipe/{{ recipe.id }}"}
        {{ recipe.title }}
    
    %section.recipe-description
      %p
        {{ recipe.description }}
      %section.image-holder
        %div{ ng_repeat:"img in recipe.pictures"}
          %img{ src:"{{img.url}}" }