%div
  .offset
  .offset.small
  .follower
    %div.user-name
      {{ user }}
    %i.fa.fa-users
    {{ nombreFollowers }} folllowers
    .btn{ ng_click:"follow()"}
      follow
  .offset
  %input.form-control.search{placeholder:"search by title..",ng_model:"searchRecipe.title"}
  .offset.small
  %article.recipe{ ng_repeat:"recipe in recipes|filter:searchRecipe|reverse"}
   
    .div.backgrounded{style:"background-image:url({{recipe.pictures[0].url}})"}
      .edit-btn.btn.edit{ style:"display:{{recipe.isme}}" }
        %a{ href: "#/recipe/{{recipe.id}}/edit" } edit
      %h3.recipe-user
        %a{href:"#/user/{{ recipe.userid }}"}
          {{ recipe.email }}
      %div
        %header.recipe-title
          %a{href:"#/recipe/{{ recipe.id }}"}
            {{ recipe.title }}
        %uib_rating.recipe-rate{ng_model:"recipe.rate_value",max:"5",readonly:"isReadonly",on_hover:"hoveringOver(value)",on_leave:"overStar = null",aria_labelledby:"default-rating",ng_click:"addRate(recipe)"}
    
    %section.recipe-description
      %p
        {{ recipe.description.substr(0,400) }} .. 
        %a.readmore{href:"#/recipe/{{ recipe.id }}"}
          read more
      