.btn{
	margin: 5px 0
}

.finishBtn{
	float: right
}

section.image-holder {
	display: flex;
	flex-wrap: wrap;
}

.image-holder img {
	width: 150px;
	height: 150px;
	margin:2px;
}

  .image-holder img:hover{
  	opacity:.8;
  }

.ingredient-holder-form{
	display:flex;
}
.ingredient-holder-form > div > div{
	padding: 5px 11px;
	font-size: 16px;
	line-height: 1.5;
	border-radius: 3px;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
	border-width: 1px;
	border-style: solid;
	margin: 13px 8px 8px 0;
}