%div{ ng_controller: 'navCtrl' }
  %ul.nav.navbar-nav
    %li.logo
      RecipeNetwork
    %li.hoverable
      %a{ href: "#/home" } 
        %i.fa.fa-home
        Home
      %div.bottom
    %li.hoverable
      %a{ href: "#/followed" } 
        %i.fa.fa-users
        What you follow
      %div.bottom
    %li.hoverable{ ng_hide: "signedIn()" }
      %a{ href: "#/login" }
        %i.fa.fa-sign-in
        Log In
      %div.bottom
    %li.hoverable{ ng_hide: "signedIn()" }
      %a{ href: "#/register" }
        %i.fa.fa-user-plus
        Register
      %div.bottom
    %li.hoverable{ ng_show:  "signedIn()" }
      %a{ href: "#/" } {{ user.email }}
      %div.bottom
    %li.hoverable{ ng_show:  "signedIn()" }
      %a{ ng_click: "logout()" }
        %i.fa.fa-sign-out
        Log Out
      %div.bottom
    %li.hoverable{ ng_show: "signedIn()" }
      %a{ href: "#addRecipe" }
        %i.fa.fa-plus
        Add a recipe
      %div.bottom

  
