.home-container{ ng_controller: 'addPictureCtrl' }
  %h1.formTitle
    Add pictures
  %form
    %input.form-control{ type:"file",id:"file",multiple:true, placeholder: "url", ng_model: "pictureUrl"}
    %br
    %section.image-holder
      %div{ ng_repeat:"picture in pictures"}
        %img{ src:"{{ picture }}"}
    %button.btn{ ng_click: "addPicture()" }
      add
    %button.btn.finishBtn{ ng_click: "finishAddingPictures()" }
      finish