.home-container{ ng_controller: 'addRecipeCtrl' }
  %form
    %input.form-control{ placeholder: "title", ng_model: "recipeName"}
    %br
    %textarea.form-control{ placeholder: "description", ng_model: "recipeDescription"}
    %br
    %button.btn{ ng_click: "addRecipe()" }
      Go